/* :root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --primary-background-color: #e5e5e5;
  --primery-title-color: #212121; 
  --primery-description-color: #757575;*/

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*=====HEADER=====*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-name {
  color: #2196f3;
}
.navigation-list {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.address-list {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.navigation-list:hover,
.navigation-list:focus,
.address-list:hover,
.address-list:focus {
  color: #2196f3;
}
/*=====END HEADER=====*/

/*=====HERO=====*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align/*ПРИБРАТИ?*/: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
/*=====END HERO=====*/

/*=====FEATURES=====*/
.features-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=====END FEATURES=====*/

/*=====WHAT ARE WE DOING=====*/
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*=====END WHAT ARE WE DOING=====*/

/*=====OUR TEAM=====*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=====END OUR TEAM=====*/

/*=====FOOTER=====*/

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*=====END FOOTER=====*/

/*=====PORTFOLIO BUTTON=====*/
.button-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button-list:hover,
.button-list:focus {
  color: #ffffff;
  background-color: #2196f3;
}
/*=====END PORTFOLIO BUTTON=====*/

/*=====PORTFOLIO=====*/
.portfolio-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/*=====END PORTFOLIO=====*/
